div {
    text-align: center;
  }

body {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}
.MainPageContainer {
    border:none;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
.section_one_container {
    display: flex;
    justify-content: center;
}
.section_one {
    height: 350px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    display:flex;
    color: #EEEEEE;
    .item {
        height: 200px;
        flex: 1;
    }
}

.section_one #left.item {
    text-align: left;
}

.section_one #left.item #title{
    text-align: left;
    font-size: 48px;
    line-height: 95%;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0px;
    
}

#subtitle {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px;
}

.section_one #right.item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 132, 141);
}

.section_three {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.section_two {
    width: 100%;
    background-color: white;
}

.section_three div {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.section_three p {
    width: 700px;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937

}
.section_three #signage {
    text-align: right;
    align-self: flex-end;
    justify-self: flex-end;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    font-size: 12px;
    background-color: #1F2937;
    color: #F9FAF8;
    bottom: 0;
    padding: 0;
    width: 100%;
}

#header {
    background-color: #1F2937;
    color: #EEEEEE;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0;
}

.logo {
    padding: 30px;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: left;
    text-align: left;
}

.link_container {
    padding: 30px;
    display: flex;
    align-items: center;
}

.solo_link {
    padding: 25px;
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}

.section_four {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .advertisement {
        border-radius: 8px;
        height: 100px;
        width: 800px;
        background-color: rgb(47, 118, 252);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;

        .left{
            text-align: left;
            color:#E5E7EB;
            .small_header {
                font-size:24px;
            }
        }
    }
}
