div {
    padding: 30px;
    text-align: center;
  }

.MainPageContainer {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_one {
    height: 300px;
    padding: 80px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display:flex;
    background-color: #1F2937;
    color: #EEEEEE;
    .item {
        height: 200px;
        flex: 1;
    }
}

.section_one #left.item {
    text-align: left;
}

.section_one #left.item #title{
    text-align: left;
    font-size: 48px;
    line-height: 95%;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0px;
    
}

#subtitle {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px;
}

.section_one #right.item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 155, 155);
}



.section_three {
    background-color: #E5E7EB;
}

#footer {
    position: fixed;
    background-color: #1F2937;
    color: #EEEEEE;
    bottom: 0;
    width: 100%;
}

#header {
    background-color: #1F2937;
    color: #EEEEEE;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    justify-content: left;
    text-align: left;
}

.link_container {
    display: flex;
    align-items: center;
}

.solo_link {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}
